.skills-container {
    padding-top: 40px;
    padding-bottom: 70px;
    width: 100vw;
    display: grid;
    place-items: center;

    h1 {
        font-size: 40px;
        border-bottom: 4px solid #FF522C;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .skill-container {
        margin-top: 30px;
        background-color: rgb(26, 26, 26);
        border-radius: 20px;
        color: white;
        width: 400px;
        display: flex;
        padding: 15px 20px 15px 20px;

        .tick {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 50px;
        }

        .skill-right-section {
            height: fit-content;

            h2 {
                margin-top: 0;
            }
        }
    }

}