@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}

.app {
    font-family: 'Recursive', sans-serif;
    height: 100%;
    width: 100%;
}

input, textarea {
    font-family: 'Recursive', sans-serif;
}