.text {
    color: white;
    font-size: larger;
    margin-top: -175px;
    margin-left: 55px;
}

@media screen and (max-width: 1050px) {
    .text {
        margin-top: -150px;
        margin-left: 40px;
    }
}

@media screen and (max-width: 775px) {
    .text {
        margin-top: -120px;
        margin-left: 35px;
    }
}